<div class="row" style="height:99vh;width:99vw;">
  <div class="col-md-12 align-self-center">
<form class="form-signin " #f="ngForm" (ngSubmit)="signIn(f.value)">
  <h2 class="form-signin-heading text-center"><mat-icon style="font-size:26px;height:26px;width:26px;">home</mat-icon>
    MUNICIPALITIES</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">{{displayError}}</div>
  <div class="form-group">
    <input type="text" id="inputEmail" name="username" [(ngModel)]="login.username" class="form-control" placeholder="Email" required autofocus>
  </div>
  <div class="form-group">
    <input type="password" id="inputPassword" name="password" [(ngModel)]="login.password" class="form-control" placeholder="Password" required>
  </div>
  <div class="form-group">
    <input type="hidden" id="imeiDevice" name="imei" [(ngModel)]="login.deviceId" class="form-control" placeholder="Imei" required autofocus>
  </div>

  <button class="w-100" mat-raised-button color="primary">Login</button>
</form>
  </div>
</div>
