<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <mat-selection-list role="list">
      <mat-list-item role="listitem" class="mat-list-option" style="cursor:pointer;" [routerLink]="'/admin/add-post'"><mat-icon style="font-size:16px;height:16px;width:16px; margin-right:10px;">add</mat-icon> Add Post</mat-list-item>
      <mat-list-item role="listitem" class="mat-list-option" style="cursor:pointer;"  [routerLink]="'/admin/all-posts'"><mat-icon style="font-size:16px;height:16px;width:16px;margin-right:10px;">list</mat-icon> All Posts</mat-list-item>
      <mat-list-item role="listitem" class="mat-list-option" style="cursor:pointer;"  [routerLink]="'/admin/add-alert'"><mat-icon style="font-size:16px;height:16px;width:16px;margin-right:10px;">add</mat-icon> Add Alert</mat-list-item>
      <mat-list-item role="listitem" class="mat-list-option" style="cursor:pointer;"  [routerLink]="'/admin/tickets'"><mat-icon style="font-size:16px;height:16px;width:16px;margin-right:10px;">list</mat-icon> Tickets</mat-list-item>
      <mat-list-item role="listitem" class="mat-list-option" style="cursor:pointer;" (click)="authService.logout()"><mat-icon style="font-size:16px;height:16px;width:16px;margin-right:10px;">power_settings_new</mat-icon>Logout</mat-list-item>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--<p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>-->
    <div style="padding:15px;"><img (click)="sidenav.toggle()" src="../../../../assets/icons/menu-button.png" style="width:35px;cursor:pointer;" /><div style="float:right;font-size:22px;">MUNICIPALITY ADMIN PANEL</div></div>

    <!--<p>Events:</p>-->
    <!--<div class="example-events">-->
      <!--<div *ngFor="let e of events">{{e}}</div>-->
    <!--</div>-->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


