<div class="container-fluid" style="padding:15px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4 style="margin-bottom:15px;">TICKET DETAILS</h4>
        <p><b>Ticket ID:</b> {{dataResult.id}}</p>
        <hr>
        <p><b>Category:</b> {{dataResult.complaintCategory.description}}</p>
        <hr>
        <p><b>Status:</b> {{dataResult.complaintStatus}}</p>
        <hr>
        <p><b>Priority:</b> {{dataResult.priority}}</p>
        <hr>
        <p><b>People Complaining:</b> {{dataResult.complaining}}</p>
        <hr>
        <p><b>Location:</b> {{dataResult.location}}</p>
        <hr>
        <p><b>Municipality:</b> {{dataResult.municipality.name}}</p>
        <hr>
        <p><b>Description:</b> {{dataResult.description}}</p>
        <hr>
      </div>
      <div class="col-xs-12 col-md-6">
        <!-- Ticket Google Map -->
        <div id="ticketGoogleMap" class="form-group container-fluid noPaddingLR">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" >
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>

    </div>
  </div>
</div>
