agm-map {
  height: 480px;
}
#ticketGoogleMap{
  -webkit-box-shadow: 2px -2px 32px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -2px 32px -3px rgba(0,0,0,0.75);
  box-shadow: 2px -2px 32px -3px rgba(0,0,0,0.75);
}
