mat-form-field { width:auto;}
#mobileScreen{
  -webkit-box-shadow: 2px -2px 32px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -2px 32px -3px rgba(0,0,0,0.75);
  box-shadow: 2px -2px 32px -3px rgba(0,0,0,0.75);
}
.scrollbar
{
  float: left;
  height: 50px;
  width: 5px;
  background: #F5F5F5;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 25px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#mobileScreen::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  width:5px;
  background-color: #F5F5F5;
}
