
    <div class="container-fluid" style="padding:15px;">

    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-6">
            <h4><mat-icon style="font-size:18px;height:18px;width:18px;margin-right:10px;">add</mat-icon>ADD NEW POST</h4>
            <form [formGroup]="addPostForm" #f (ngSubmit)="addPost(f.value)">
              <mat-form-field class="w-100">
                <input matInput placeholder="Post Title" formControlName="title" minlength="1" required />
              </mat-form-field>
              <mat-form-field class="w-100">
                <textarea matInput placeholder="Short Post Description" formControlName="shortDescription" minlength="1" required></textarea>
              </mat-form-field>
              <mat-form-field class="w-100">
                <textarea matInput placeholder="Post Description" formControlName="description" minlength="1" required></textarea>
              </mat-form-field>

              <div class="row">
              <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <div formArrayName="postCategories">
                  <div *ngFor="let x of addPostForm.controls.postCategories.controls; let i = index" [formGroupName]="i" >
                    <fieldset>
                      <div formArrayName="category">
                      <mat-form-field class="w-100">
                        <mat-select   placeholder="Select Category" formControlName="id" required >
                          <mat-option  *ngFor="let x of categoryData" value="{{x.id}}">{{x.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                  <div formArrayName="kinds">
                    <div *ngFor="let x of addPostForm.controls.kinds.controls; let i = index" [formGroupName]="i" >
                    <fieldset>
                      <mat-form-field class="w-100">
                        <mat-select   placeholder="Select Kind" formControlName="id" required>
                          <mat-option  value="1">Test</mat-option>
                          <mat-option  *ngFor="let x of kindData" value="{{x.id}}">{{x.kind}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </fieldset>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                  <div formArrayName="postTags">
                    <button mat-raised-button color="primary" (click)="addTagName()" style="margin-bottom:10px;" type="button">Add Tag</button>
                    <div *ngFor="let x of addPostForm.controls.postTags.controls; let i = index" [formGroupName]="i" >
                      <fieldset>
                        <div formGroupName="tag">
                            <fieldset>
                              <mat-form-field class="w-100">
                              <input matInput placeholder="Tag Name" formControlName="name" />
                              <mat-icon style="cursor:pointer;" (click)="removeTag(i)" matSuffix>clear</mat-icon>
                              </mat-form-field>
                            </fieldset>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="display: grid;">
                <label for="multipleFiles">Upload Images</label>
                <input id="multipleFiles" name="multipleFiles" type="file" (change)="uploadMultipleFiles($event)" placeholder="Upload Multiple Images" multiple />
              </div>
              <div class="">
                <div *ngFor="let x of postImages; let i = index"  >
                  <div class="d-inline-block" style="width:200px;margin:10px;">
                    <div class="img">
                      <div >
                        <div
                          [style.background]="'url('+ apiroot + x.url+ ')'"
                          [style.background-repeat]="'no-repeat'"
                          [style.background-size]="'contain'"
                          style="height:150px;"></div>
                        <button class="btn btn-primary newPost float-left" (click)="removeImage(i)" type="button">Remove</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div formArrayName="postImages" *ngIf="addPostForm.controls.postImages">
              <div *ngFor="let x of addPostForm.controls.postImages.controls; let i = index" [formGroupName]="i" >
                <div formArrayName="image">
                  <div>
                    <input [(ngModel)]="imageCollection[i]" type="hidden"  class="form-control tagCnt newPostField imageUploads" formControlName="id"  placeholder="Image Id" required>
                  </div>
                </div>
              </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                  <div class="" >
                    <mat-checkbox color="primary" formControlName="allowCommenting" >Allow Commenting</mat-checkbox>
                  </div>
                  <div class="" >
                    <mat-checkbox color="primary" formControlName="allowVoting">Allow Voting</mat-checkbox>
                  </div>
                  <div class="" >
                    <mat-checkbox color="primary" formControlName="showToNewsfeed" >Show To News Feed</mat-checkbox>
                  </div>
                  <div class="" >
                    <mat-checkbox color="primary" formControlName="published">Published</mat-checkbox>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">

                      <fieldset>
                          <mat-form-field class="w-100">
                            <mat-select   placeholder="Select Type" formControlName="type" >
                              <mat-option value="POST">POST</mat-option>
                            </mat-select>
                          </mat-form-field>
                      </fieldset>

                </div>
              </div>

              <button mat-raised-button color="primary" type="submit" [disabled]="!addPostForm.valid">Create Post</button>
            </form>
            <!--<br>-->
            <!--<pre>{{addPostForm.value | json }}</pre>-->
          </div>
        <div class="col-xs-12 col-md-6">
          <div class="mx-auto" style="max-width:375px;">
            <div id="mobileScreen" class="scrollbar" style="max-width:375px; width:100%; height:667px; background:rgba(255,255,255,1); padding:10px;">
              <div class="row">
                <div class="col-md-12 noPaddingLR">
                  <div class="col-md-12 paddingLR20" style="margin-top:10px;" >
                    <img src="{{municipalityLogo}}" style="width:30px; display:inline-block;" />
                    <p style="display:inline-block;">{{municipalityName}}</p>
                  </div>
                  <div class="col-md-12 paddingLR20">
                    <h5>{{addPostForm.value.title}}</h5>
                  </div>
                  <img src="{{firstImage}}"  style="width:100%;"/>


                <div class="col-md-12 paddingLR20"  style="margin-top:10px;">
                  <p>{{addPostForm.value.description}}</p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
