
  <div class="container-fluid noPaddingLR">

        <!-- Ticket Google Map -->
      <div #gm id="ticketsGoogleMap" class="form-group container-fluid noPaddingLR">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" >
          <agm-marker *ngFor="let data of allData; let i = index" [latitude]="data.lat" [longitude]="data.lon">

            <agm-info-window [disableAutoPan]="false" #infoWindow>

              <div>
                <h5>{{data.complaintCategory.description}}</h5>
              </div>
              <div>
                <div>
                  <div class="col-md-12 noPaddingLR">
                    <b>Priority:</b> {{data.priority}}
                  </div>
                  <div class="col-md-12 noPaddingLR">
                    <b>Complaining:</b> {{data.complaining}}
                  </div>
                  <div class="col-md-12 noPaddingLR">
                    <b>Location:</b> {{data.location}}, {{data.municipality.latin}}
                  </div>
                  <div class="col-md-12 noPaddingLR" style="margin-top:10px;">
                    <b>Description:</b>
                    <p>{{data.description}}</p>
                  </div>
                </div>
                    <a (click)="onClickInfoView(data)" class="btn btn-attention float-right">Open Ticket Details</a>
                </div>

            </agm-info-window>

          </agm-marker>
        </agm-map>
      </div>

  </div>

