<div class="container-fluid" style="padding:15px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4>VIEW / EDIT POST</h4>
        <form [formGroup]="viewEditPostForm" #t (ngSubmit)="editPost(t.value)">
          <input type="hidden" placeholder="ID" [(ngModel)]="postDetailsModel.id" formControlName="id"  />
          <mat-form-field class="w-100">
            <input matInput placeholder="Post Title" [(ngModel)]="postDetailsModel.postTitle" formControlName="title" minlength="1" required />
          </mat-form-field>
          <mat-form-field class="w-100">
            <textarea matInput placeholder="Short Post Description" [(ngModel)]="postDetailsModel.postShortDesc" formControlName="shortDescription" minlength="1" required></textarea>
          </mat-form-field>
          <mat-form-field class="w-100">
            <textarea matInput placeholder="Post Description" [(ngModel)]="postDetailsModel.postDescript" formControlName="description" minlength="1" required></textarea>
          </mat-form-field>
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
              <div formArrayName="postCategories">
                <div *ngFor="let x of viewEditPostForm.controls.postCategories.controls; let i = index" [formGroupName]="i" >
                  <fieldset>
                    <div formArrayName="category">
                      <mat-form-field class="w-100">
                        <mat-select   placeholder="Select Category" [(ngModel)]="postDetailsModel.postCategory" formControlName="id" required >
                          <mat-option  *ngFor="let x of categoryData" [value]="x.id">{{x.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
              <div formArrayName="kinds">
                <div *ngFor="let x of viewEditPostForm.controls.kinds.controls; let i = index" [formGroupName]="i" >
                  <fieldset>
                    <mat-form-field class="w-100">
                      <mat-select   placeholder="Select Kind" [(ngModel)]="postDetailsModel.kinds" formControlName="id" required>
                        <mat-option  value="1">Test</mat-option>
                        <mat-option  *ngFor="let x of kindData" [value]="x.id">{{x.kind}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
              <div formArrayName="postTags">
                <button mat-raised-button color="primary" (click)="addTagName()" style="margin-bottom:10px;" type="button">Add Tag</button>
                <div *ngFor="let x of viewEditPostForm.controls.postTags.controls; let i = index" [formGroupName]="i" >
                  <fieldset>
                    <div formGroupName="tag">
                      <fieldset>
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Tag Name" formControlName="name" />
                          <mat-icon style="cursor:pointer;" (click)="removeTag(i)" matSuffix>clear</mat-icon>
                        </mat-form-field>
                      </fieldset>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" style="display: grid;">
            <label for="multipleFiles">Upload Images</label>
            <input id="multipleFiles" name="multipleFiles" type="file" (change)="uploadMultipleFiles($event)" placeholder="Upload Multiple Images" multiple />
          </div>
          <div *ngIf="checkIfUploadExist" class="">
            <div *ngFor="let x of imageCollection; let i = index"  >
              <div class="d-inline-block" style="width:200px;margin:10px;">
                <div class="img">
                  <div >
                    <div
                      [style.background]="'url('+ apiroot + x.image.url+ ')'"
                      [style.background-repeat]="'no-repeat'"
                      [style.background-size]="'contain'"
                      style="height:150px;"></div>
                    <button class="btn btn-primary newPost float-left" (click)="removeImageExisting(i)" type="button">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="checkIfUpload" class="">
            <div *ngFor="let x of postDetailsModel.postImages; let i = index"  >
              <div class="d-inline-block" style="width:200px;margin:10px;">
                <div class="img">
                  <div >
                    <div
                      [style.background]="'url('+ apiroot + x.url+ ')'"
                      [style.background-repeat]="'no-repeat'"
                      [style.background-size]="'contain'"
                      style="height:150px;"></div>
                    <button class="btn btn-primary newPost float-left" (click)="removeImage(i)" type="button">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div formArrayName="postImages" *ngIf="viewEditPostForm.controls.postImages">
            <div *ngFor="let x of viewEditPostForm.controls.postImages.controls; let i = index" [formGroupName]="i" >
              <div formArrayName="image">
                <div>
                  <input [(ngModel)]="imageCollection2[i]" type="hidden"  class="form-control tagCnt newPostField imageUploads" formControlName="id"  placeholder="Image Id" required>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
              <div class="" >
                <mat-checkbox color="primary" [(ngModel)]="postDetailsModel.allowCommenting" formControlName="allowCommenting" >Allow Commenting</mat-checkbox>
              </div>
              <div class="" >
                <mat-checkbox color="primary" [(ngModel)]="postDetailsModel.allowVoting" formControlName="allowVoting">Allow Voting</mat-checkbox>
              </div>
              <div class="" >
                <mat-checkbox color="primary" [(ngModel)]="postDetailsModel.showToNewsfeed" formControlName="showToNewsfeed" >Show To News Feed</mat-checkbox>
              </div>
              <div class="" >
                <mat-checkbox color="primary" [(ngModel)]="postDetailsModel.published" formControlName="published">Published</mat-checkbox>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">

              <fieldset>
                <mat-form-field class="w-100">
                  <mat-select [(ngModel)]="postDetailsModel.type"  placeholder="Select Type" formControlName="type" >
                    <mat-option value="POST">POST</mat-option>
                  </mat-select>
                </mat-form-field>
              </fieldset>

            </div>
          </div>



          <button mat-raised-button color="primary" type="submit" >Update Post</button>
          <button mat-raised-button color="warn" class="float-right" (click)="archivePost(postID, postDetailsModel.postTitle)" type="button">Archive Post</button>
        </form>
        <!--<br>-->
        <!--<pre>{{addPostForm.value | json }}</pre>-->
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="mx-auto" style="max-width:375px;">
          <div id="mobileScreen" class="scrollbar" style="max-width:375px; width:100%; height:667px; background:rgba(255,255,255,1); padding:10px;">
            <div class="row">
              <div class="col-md-12 noPaddingLR">
                <div class="col-md-12 paddingLR20" style="margin-top:10px;">
                  <img src="{{postDetailsModel.municipalityLogo}}" style="width:30px; display:inline-block;" />
                  <p style="display:inline-block;">{{postDetailsModel.municipalityName}}</p>
                </div>

                <div class="col-md-12 paddingLR20">
                  <h5>{{postDetailsModel.postTitle}}</h5>
                </div>
                  <img src="{{postDetailsModel.postImage}}"  style="width:100%;"/>
              <div class="col-md-12 paddingLR20" style="margin-top:10px;">
                <p>{{postDetailsModel.postDescript}}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<br>-->
    <!--<pre>{{viewEditPostForm.value | json }}</pre>-->
  </div>
</div>
