<div class="container-fluid example-container" style="padding:15px;">
  <h4><mat-icon style="font-size:18px;height:18px;width:18px;margin-right:10px;">list</mat-icon>ALL POSTS</h4>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="display: flex;justify-content: flex-end;"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: flex;justify-content: flex-end;">
        <mat-icon [routerLink]="['/admin/post', element.id]" style="margin-right:15px; color:darkblue;cursor:pointer;font-size:16px;height:16px;width:16px;margin-right:10px;" matTooltip="View Post Details"  >visibility</mat-icon>
        <mat-icon (click)="archivePost(element.id, element.title)" style="color:darkred;cursor:pointer;font-size:16px;height:16px;width:16px;margin-right:10px;" matTooltip="Delete Post">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [length]="resultsLength"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
