<div class="container-fluid">
    <div class="d-flex justify-content-center">
     <div id="mobileScreen" class="scrollbar"  style="max-width:375px; width:100%; min-height:667px;background:rgba(255,255,255,1); padding:10px;" >
       <div class="col-md-12 paddingLR20" style="margin-top:10px;" >
         <img src="{{postDetailsModel.municipalityLogo}}" style="width:30px; display:inline-block;" />
         <p style="display:inline-block;">{{postDetailsModel.municipalityName}}</p>
       </div>
       <div class="col-md-12 paddingLR20">
         <h5>{{postDetailsModel.postTitle}}</h5>
       </div>
       <img src="{{postDetailsModel.postImage}}"  style="width:100%;"/>
       <div class="col-md-12 paddingLR20"  style="margin-top:10px;">
         <p>{{postDetailsModel.postDescript}}</p>
       </div>
     </div>
    </div>
</div>
