/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap.scss";
.navbar-collapse.in {
  float: left !important;
}
.paddingLR20{
  padding-right:20px;
  padding-left:20px;
}
.noPaddingLR{
  padding-left:0px;
  padding-right:0px;
}
