<div class="container-fluid" style="padding:15px;">
  <div class="container">
    <form  [formGroup]="addAlertForm" #f (ngSubmit)="addAlert(f.value)">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-6 col-md-6">
            <h4><mat-icon style="font-size:18px;height:18px;width:18px;margin-right:10px;">add</mat-icon>ADD ALERT</h4>
          </div>
          <div class="col-6 col-md-6">
            <button mat-raised-button class="float-right"  color="primary" type="submit" [disabled]="!addAlertForm.valid" >Create Alert</button>
          </div>
        </div>
        <mat-form-field class="w-100">
          <input matInput placeholder="Post Title" formControlName="title"  minlength="1" required />
        </mat-form-field>
        <mat-form-field class="w-100">
          <textarea matInput placeholder="Post Description"  formControlName="description" minlength="1" required></textarea>
        </mat-form-field>
        <!-- Alert Location -->
        <div class="form-group" style="display: inline-grid;width: 100%;">

          <mat-form-field class="w-100">
            <input matInput placeholder="Location" class="newPostField" formControlName="location" [(ngModel)]="loc"  type="text" id="alert-location"  required />
          </mat-form-field>
        </div>
        <!-- Alert Google Map -->

        <div id="alertGoogleMap" class="form-group container-fluid noPaddingLeftAndRight">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng" (dragEnd)="markerDragEnd(this, $event)" [markerDraggable]="draggable"></agm-marker>
          </agm-map>
        </div>
        <!-- Hidden lat and lng inputs -->
        <div class="form-group" style="display: none;width: 100%;">
          <input class="form-control newPostField" formControlName="lat" [(ngModel)]="newLat" type="text" id="alert-lat"  required />
        </div>
        <div class="form-group hidden" style="display: none;width: 100%;">
          <input class="form-control newPostField" formControlName="lon" [(ngModel)]="newLon" type="text" id="alert-lon"required />
        </div>

      </div>
    </div>
    </form>
    <!--<br>-->
    <!--<pre>{{addAlertForm.value | json }}</pre>-->
  </div>
</div>
