<div class="container-fluid example-container" style="padding:15px;">
  <div class="row">
  <div class="col-6"><h4><mat-icon style="font-size:18px;height:18px;width:18px;margin-right:10px;">list</mat-icon>ALL TICKETS</h4></div>
  <div class="col-6 "><h4  matTooltip="Click to trigger Map View" class="float-right" style="cursor:pointer;" [routerLink]="['/admin/tickets/map']"><mat-icon style="font-size:18px;height:18px;width:18px;margin-right:10px;">map</mat-icon>MAP VIEW</h4></div>
</div>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Complaint Category Column -->
    <ng-container matColumnDef="complaintName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Complaint Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.complaintCategory.description}} </mat-cell>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location}}, {{element.municipality.name}}  </mat-cell>
    </ng-container>#

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.complaintStatus}} </mat-cell>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
    </ng-container>

    <!-- Complaining Number Column -->
    <ng-container matColumnDef="complaining">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Complaining </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.complaining}} </mat-cell>
    </ng-container>


    <!-- Description Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="display: flex;justify-content: flex-end;"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: flex;justify-content: flex-end;"> <mat-icon (click)="viewTickets(element);" [routerLink]="['/admin/ticket', element.id]" style="margin-right:15px; color:darkblue;cursor:pointer;font-size:16px;height:16px;width:16px;margin-right:10px;" matTooltip="View Ticket Details"  >visibility</mat-icon><mat-icon style="color:darkred;cursor:pointer;font-size:16px;height:16px;width:16px;margin-right:10px;" matTooltip="Delete Ticket">delete</mat-icon> </mat-cell>
    </ng-container>

    <!--&lt;!&ndash; Weight Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="weight">-->
    <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Symbol Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="symbol">-->
    <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
    <!--</ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [length]="resultsLength"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
