.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
}
.example-header {
  min-height: 64px;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}
.mat-column-id {
  flex: 0 0 50px;
  padding-left:5px;
  padding-right:5px;
}
.mat-column-complaintName {
  flex: 0 0 30%;
  padding-left:5px;
  padding-right:5px;
 }
.mat-column-location {
  flex: 0 0 20%;
  padding-left:5px;
  padding-right:5px;
}
.mat-column-status{
  padding-left:5px;
  padding-right:5px;
}
.mat-column-priority{
  padding-left:5px;
  padding-right:5px;
}
.mat-column-complaining{
  padding-left:5px;
  padding-right:5px;
}
